<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>module -3</title>
        <link rel="stylesheet" href="../Styles/styles.css">
    </head>
    <body>
        <!-- ICONS -->
        <div class="icons_container">
            <div class="circle">
                <div class="tv_icon">
                    <img src="../Assets/tv.png" alt="tv_icon">
                </div>
            </div>
            <div class="circle">
                <div class="paper_icon">
                    <img src="../Assets/paper-stack.png" alt="paper_icon">
                </div>
            </div>
            <div class="circle">
                <div class="camera_icon">
                    <img src="../Assets/camera.png" alt="camera_icon">
                </div>
            </div>
        </div>

        <!-- carousel bullets -->
        <div class="carousel_bullets">
            <span class="bullet_1" id="bullet"></span>
            <span class="bullet_2" id="bullet"></span>
            <span class="bullet_3" id="bullet"></span>
        </div>

        <div
            class="container">
            <!-- left container -->
            <div class="left_container">
                <div class="content">

                    <div class="headline">OUR SERVICES
                    </div>
                    <span class="headline_design"></span>


                    <div class="box_1">
                        <p class="primary_text_1" id="tagline">WEB DESIGN</p>
                        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique cupiditate, esse dignissimos nulla tempora, commodi autem dolorem illum rem sequi odio magnam quibusdam quis. A consequatur sapiente molestiae tempora! Sapiente.</p>
                    </div>

                    <div class="box_2">
                        <p class="primary_text_2" id="tagline">PRINT DESIGN</p>
                        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique cupiditate, esse dignissimos nulla tempora, commodi autem dolorem illum rem sequi odio magnam quibusdam quis. A consequatur sapiente molestiae tempora! Sapiente.</p>
                    </div>

                    <div class="box_3">
                        <p class="primary_text_3" id="tagline">PHOTOGRAPHY</p>
                        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique cupiditate, esse dignissimos nulla tempora, commodi autem dolorem illum rem sequi odio magnam quibusdam quis. A consequatur sapiente molestiae tempora! Sapiente.</p>
                    </div>
                </div>
            </div>


            <!-- right container -->
            <div class="right_container"></div>
        </div>

    </body>
</html>
